*{
    text-align: center;
}
body{
    background-color: black;
}

div{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
}
img{
border: 5px solid white;
width: 100%;
}
h1{
    color: white;
    font-size: 45px;
    font-family: 'Libre Baskerville', serif;
}
p{
    color: white;
}